.venv
.env
.idea
db.sqlite3
test.py

__pycache__
api/__pycache__
db_handlers/__pycache__
handlers/__pycache__
keyboards/__pycache__
middlewares/__pycache__
storage/__pycache__
utils/__pycache__
database/__pycache__

