.venv
.env
.idea
db.sqlite3
test.py
bot.log

__pycache__
api/__pycache__
app/__pycache__
app/core/__pycache__
app/database/__pycache__
app/handlers/__pycache__
app/keyboards/__pycache__
app/utils/__pycache__

